fastapi==0.111.1
uvicorn[standard]==0.29.0

# ORM
sqlalchemy==2.0.29
alembic==1.13.1

# Pydantic 1.x (compatibile con Windows senza Rust)
pydantic==1.10.11

# Password hashing
passlib[bcrypt]==1.7.4

# JWT
python-jose==3.3.0

# Upload form-data
python-multipart==0.0.9

# Env
python-dotenv==1.0.1
